<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csust.csustquestion.mapper.StudentMapper">

    <resultMap id="BaseResult" type="com.csust.csustquestion.domain.Student">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="createDate" jdbcType="TIMESTAMP" column="create_date"/>
        <result property="academyName" jdbcType="VARCHAR" column="academy_name"/>
        <result property="campus" jdbcType="CHAR" column="campus"/>
        <result property="grade" jdbcType="CHAR" column="grade"/>
        <result property="openId" jdbcType="VARCHAR" column="open_id"/>
        <result property="questionniareId" jdbcType="BIGINT" column="questionniare_id"/>
        <result property="questionniareName" jdbcType="VARCHAR" column="questionniare_name"/>
        <result property="sex" jdbcType="CHAR" column="sex"/>
    </resultMap>
    <insert id="insert">
        INSERT INTO student_info (id, campus, grade,
                                  sex, academy_name, create_date,
                                  open_id, questionnaire_name, questionnaire_id)
            VALUE
                (#{id},#{campus},#{grade},
                #{sex},#{academyName},#{createDate},
                #{openId},#{questionniareName},#{questionniareId})

    </insert>

    <select id="getStudentIdByGradeAndQuestionnaireId" resultType="java.lang.Long">
        SELECT `id` FROM student_info where `grade` = #{grade} and `questionnaire_id` = #{questionnaireId}
    </select>
    <select id="getStudentIdBySexAndQuestionnaireId" resultType="java.lang.Long">
        SELECT `id` FROM student_info where `sex` = #{sex} and `questionnaire_id` = #{questionnaireId}
    </select>
    <select id="getStudentIdByCampusAndQuestionnaireId" resultType="java.lang.Long">
        SELECT `id` FROM student_info where `campus` = #{campus} and `questionnaire_id` = #{questionnaireId}
    </select>
    <select id="getStudentIdByAcademyAdnQuestionnaired" resultType="java.lang.Long">
        SELECT `id` FROM student_info where `academy_name` = #{academy} and `questionnaire_id` = #{questionnaireId}
    </select>
    <select id="getById" resultMap="BaseResult">
        SELECT * FROM student_info WHERE id = #{studentId}
    </select>
    <select id="getIdByOpenIdAndQuestionnaireId" resultType="java.lang.Long">
        SELECT `id` FROM student_info WHERE `questionnaire_id` = #{questionnaireId} and `open_id` = #{openId}
    </select>
</mapper>